/* 장바구니 페이지 css */
:root {
  /* font color */
  --gray-color: #767676;
  --black-color: #000000;
  --white-color: #ffffff;
  --red-color: #eb5757;
  /* etc. */
  --light-gray-bg-color: #f2f2f2; /* tab title background */
  --gray-bg-color: #c4c4c4; /* order amount box bg*/
  --green-color: #21bf48; /* 주문하기 버튼, 체크 박스 */
  --light-gray-border: #e0e0e0;
}

html {
  height: 100%;
  font-size: 14px;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}
.tab-title {
  background-color: var(--light-gray-bg-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 1rem 0 1rem;
  gap: 1rem;
}
