:root {
  /* font color */
  --gray-color: #767676; /* 기본 글자 색상, 장바구니 버튼 색상 */
  --black-color: #000000;
  --green-color: #21bf48; /* 구매 버튼 색상, 총 금액 색상 */
  --white-color: #ffffff;
  /* etc */
  --border-line-gray: #c4c4c4;
  --border-line-light-gray: #e0e0e0;
}

html {
  font-size: 16px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: white;
}
/* ------------------------------------*/
/*             font style              */
/* ------------------------------------*/
.basic-font {
  font-size: 1rem;
  color: var(--gray-color);
}
.basic-font-bk {
  font-size: 1rem;
  color: var(--black-color);
  font-weight: normal;
}
.product-title {
  font-size: 2rem;
  margin: 0;
}
.product-price {
  font-size: 2rem;
  font-weight: bold;
}
.basic-font-wh {
  font-size: 1rem;
  color: var(--white-color);
  font-weight: normal;
}
.basic-font-gn {
  font-size: 1rem;
  color: var(--green-color);
  font-weight: bold;
}
.total-price-gn {
  font-size: 2rem;
  color: var(--green-color);
  font-weight: bold;
}
/* ------------------------------------*/
/*          page layout style          */
/* ------------------------------------*/
.product-container {
  padding: 5rem;
}
.product-info {
  margin-top: 2rem;
}
/* ------------------------------------*/
/*          product details       */
/* ------------------------------------*/
.product-details {
  margin-top: 3rem;
}
.deliver {
  margin-bottom: 1rem;
  border-bottom: var(--border-line-gray) 2px solid;
}
/* -----------/ quantity selector /-----------*/
.quantity-select {
  width: 10.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  border: var(--border-line-gray) 1px solid;
  border-radius: 0.3rem;
}
.quantity-value {
  width: 1.5rem;
  display: flex;
  justify-content: center;
  border-left: var(--border-line-gray) 1px solid;
  border-right: var(--border-line-gray) 1px solid;
  padding: 0 1rem 0 1rem;
}
.btn-quantity {
  width: 34px;
  height: 34px;
  border: none;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
}

.btn-quantity svg {
  width: 100%;
  height: 100%;
}
/* -----------/ total : quantity and price /-----------*/
.total {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: var(--border-line-gray) 2px solid;
}
.total-quantity-price {
  display: flex;
  align-items: center;
  justify-content: right;
  flex-direction: row;
  gap: 1rem;
}
.button-buy-and-cart {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
/* ----------/ button: buy and cart /---------------*/
.btn-buy {
  width: 14rem;
  background-color: var(--green-color);
  border: none;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  cursor: pointer;
}
.btn-cart {
  background-color: var(--gray-color);
  border: none;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

/* ------------------------------------*/
/*          product menu       */
/* ------------------------------------*/
.product-menu {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.btn-menu {
  width: 10rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.7rem 2rem;
  border-bottom: var(--border-line-light-gray) 6px solid;
}
/* ------------------------------------*/
/*          modal       */
/* ------------------------------------*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.hidden {
  display: none;
}
.modal-container {
  gap: 1rem;
  border: var(--border-line-gray) 1px solid;
  padding: 2rem;
  width: 18rem;
  background-color: var(--white-color);
}
.modal-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-buttons {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}
.close-btn {
  display: flex;
  justify-content: right;
}
.close-btn svg {
  border: none;
  background-color: var(--white-color);
  cursor: pointer;
  color: var(--gray-color);
}
.btn-no {
  background-color: var(--white-color);
  border: var(--border-line-gray) 1px solid;
  border-radius: 0.3rem;
  padding: 0.3rem 1.5rem;
  cursor: pointer;
}
.btn-yes {
  background-color: var(--green-color);
  border: var(--green-color) 1px solid;
  border-radius: 0.3rem;
  padding: 0.3rem 1.5rem;
  cursor: pointer;
}
